  <section>
    <h2 id="about-me">Profile</h2>
    <hr class="bar" />
    <div class="about-lock">
      <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
        <div class="flipper">
          <div class="front">
            <div class="face-img"></div>
          </div>
          <div class="back">
            <div class="face1-img"></div>
          </div>
        </div>
      </div>
      <div class="glyph-icon flaticon-cogwheel28"></div>
      <div class="glyph-icon flaticon-computer1"></div>
      <div class="glyph-icon flaticon-hosting"></div>
      <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
      <p>
        <ul>
          <li>Highly-motivated and enthusiastic software developer who enjoys learning different technologies</li>
          <!--<li>Adventurous and ambitious introvert ready for the next problem-solving challenge</li>-->
          <li>Flexible team player bringing the strengths of a humanities background to collaborative work</li>
          <li>Legally authorized to work in Ireland, not requiring sponsorship until June 30, 2018</li>
        </ul>
      </p>
    </div>
    <h2 id="skills">Skills</h2>
    <hr class="bar" />
    <div class="blurb">
      <ul>
        <li>
          Programming: .NET, C#, SQL, React.js, Knockout.js, D3.js, Wordpress, Selenium, html, javascript, css          
        </li>
        <li>
          Software:  Photoshop, Illustrator
        </li>
        <!--<li>
          Languages: Chinese (native), English (TOEIC 925/990, TOEFL 97/120), Japanese (N3 passed)
        </li>-->
      </ul>
    </div>
  </section>
