  <section>
    <h2 id="about-me">Summary</h2>
    <hr class="bar" />
    <div class="about-lock">
      <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
        <div class="flipper">
          <div class="front">
            <div class="face-img"></div>
          </div>
          <div class="back">
            <div class="face1-img"></div>
          </div>
        </div>
      </div>
      <div class="glyph-icon flaticon-cogwheel28"></div>
      <div class="glyph-icon flaticon-computer1"></div>
      <div class="glyph-icon flaticon-hosting"></div>
      <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
      <p>
      <ul style="list-style: square">
        <li>Front-end developer with 3 years of experi- ence, proficient in React.js, AngularJS and CSS</li>
        <li>Experienced in developing, testing and implementing .NET applications</li>
        <li>Legally authorized to work in Ireland, not requiring sponsorship until June 30, 2018</li>
        </ul>
      </p>
    </div>
  </section>
  <section>
    <h2 id="skills">Skills</h2>
    <hr class="bar" />
    <div class="blurb" style="margin-bottom: 3.5rem">
      <ul style="list-style: square">
          <li>Programming Languages: HTML5, CSS3, Javascript, jQuery, C#, SQL</li>
          <li>Frameworks / Libraries: Wordpress, React.js, AngularJS, Knockout.js, D3.js</li>
          <li>Tools: git, grunt, gulp, webpack</li>
          <li>Design: Illustrator, Photoshop</li>
          <li> Languages: Chinese (native), English (fluent), Japanese (intermediate) </li>
      </ul>
    </div>
  </section>