  <section class="section-about">
    <h2 id="about-me">Summary</h2>
    <hr class="bar" />
    <div class="about-lock">
      <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
          <div class="front">
            <div class="face1-img"></div>
          </div>
        </div>
      <div class="glyph-icon flaticon-cogwheel28"></div>
      <div class="glyph-icon flaticon-computer1"></div>
      <div class="glyph-icon flaticon-hosting"></div>
      <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
      <p>
        I am a front-end developer with 3 years of experience. 
        I am proficient in React.js, AngularJS and CSS, and I am also experienced
        in developing, testing and implementing .NET applications.
      <!--<ul style="list-style: square; font-size: 16px">
        <li>Front-end developer with 3 years of experience, proficient in React.js, AngularJS and CSS</li>
        <li>Experienced in developing, testing and implementing .NET applications</li>
        <li>Legally authorized to work in Ireland, not requiring sponsorship until <strong style="font-style: italic">June 30, 2018</strong></li>
        </ul>-->
      </p>
    </div>
  </section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99618921-1', 'auto');
  ga('send', 'pageview');

</script>