<!-- ======================= EXPERIENCE ======================= -->
<div class="history">
  <div class="cd-timeline-header">
    <h2 id="Experenice">Experience</h2>
    <hr class="bar" />
  </div>
  <section id="cd-timeline" class="cd-container">
    <!-- ======================= 詮識數位 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/omni_logo.svg" alt="Omninsight" /></div>
      <div class="cd-timeline-content">
        <h2>Omninsight</h2>
        <p class="position">Front-End Developer</p>
        <div class="location">Taipei, Taiwan</div>
        <p>
          <ul>
            <li>Fetch Data from AWS server and visualize the data into interactive information charts with React.js and D3.js.</li>
            <li>Build customized official sites for companies with Wordpress.</li>
          </ul>
        </p>
        <p><a class="view-btn" href="portfolio/omninsight">More Details</a></p>        
        <span class="cd-date">Nov 2016 - Present</span></div>
    </div>

    <!-- ======================= 聯經數位 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/web-programming.svg" alt="udn Digital" /></div>
      <div class="cd-timeline-content">
        <h2>udn Digital</h2>
        <p class="position">Programmer</p>
        <div class="location">Taipei, Taiwan</div>
        <p>
          <ul>
            <li>
                Developed the front-end part of systems with Knockout.js and Angular.js., creating a more user-friendly interface and more efficient workflow, increasing user productivity by 30%.
            </li>
            <li>
                Designed UI and built prototype pages for innovative editing, production management and search engine systems known for their increased capability, stability and speed.
            </li>
            <li>
                Wrote automatic test for developing systems with Selenium, saving significant time and money and streamlining the development process.
            </li>
            <li>
                Collaborated on UI design for brand-new news editing system and wrote web tutorial for it.
            </li>
            <li>
                Diagnosed complex system bugs, including SQL injection and illegitimate work flows.
            </li>
            <li>
                Proposed new history record function for the search engine system to enhance user experience and facilitate tracking of user behavior.
            </li>
          </ul>
        </p>
        <p><a class="view-btn" href="portfolio/udn-digital">More Details</a></p>        
        <span class="cd-date">May 2014 - Oct 2016</span></div>
    </div>

   <!-- ======================= Denise Ho Illustration ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/illustrator.svg" alt="Denise Ho Illustration" /></div>
      <div class="cd-timeline-content">
        <h2>Denise Ho Illustration</h2>
        <p class="position">Freelance Graphic Designer</p>
        <div class="location">Taipei, Taiwan</div>
        <p>
          <ul>
            <li>
              Create illustrations and graphics for firms and restaurants to increase their exposure via posters and brochures, and to maintain existing customers with warm festival greeting cards. 
            </li>
          </ul>
        </p>
        <p><a class="view-btn" href="portfolio/deniseho_illustration">View My Works</a></p>
        <span class="cd-date">2013 - Current</span></div>
    </div>

    <!-- ======================= 富嶸 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/designer.svg" alt="Fu Rong Magnet" /></div>
      <div class="cd-timeline-content">
        <h2>Fu Rong Magnet</h2>
        <p class="position">Designer</p>
        <div class="location">Taipei, Taiwan</div>
        <p>
          <ul>
            <li>
              Designed magnetic products, posters and exhibition decorations.
            </li>
          </ul>
        </p>
        <p><a class="view-btn" href="portfolio/fu-rong-magnet.html">View My Works</a></p>
        <span class="cd-date">Sep 2013 - Apr 2014</span></div>
    </div>

    <!-- ======================= 金財通 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/bulb.svg" alt="BankPro E-Service Technology" /></div>
      <div class="cd-timeline-content">
        <h2>BankPro E-Service Technology</h2>
        <p class="position">IT Assistant</p>
        <div class="location">Taipei, Taiwan</div>
        <p>
          <ul>
            <li>
              Tested Accounts Payable System for Bank of Taiwan and wrote test reports.
            </li>
            <li>
              Modified C# codes and SQL statements for Accounts Payable System.
            </li>              
          </ul>
        </p>
        <span class="cd-date">Oct 2010 - May 2012</span>
      </div>
    </div>
    
    <!-- ======================= 實習 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/internship.svg" alt="English Intern Teacher" /></div>
      <div class="cd-timeline-content">
        <h2 class="story-heading">Tian Mu Junior High School</h2>
        <P class="position">Intern, English Teacher (7th Grade) and Office of Academic Affairs</P>
        <div class="location">Taipei, Taiwan</div>
        <span class="cd-date">Aug 2009 - Feb 2010</span></div>
    </div>
  </section>
  <div class="cd-timeline-header">
    <h2></h2>
  </div>

<!-- ======================= EDUCATION ======================= -->
  <div class="cd-timeline-header">
    <h2 id="Experenice">Education</h2>
    <hr class="bar" />
  </div>
  <section id="cd-timeline" class="cd-container">
    <!-- ======================= 師大 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/college.svg" alt="National Taiwan Normal University" /></div>
      <div class="cd-timeline-content">
        <h2 class="story-heading">National Taiwan Normal University</h2>
        <P class="position">
          Bachelor of Arts in Education and English • GPA: 4.0
        </P>
        <p>
          <ul>
            <li>
                Activities: Leader, Artistic Design Section in Education Service Team, 
                Leader, General Affairs Section in Drama Club, 
                Member, Student Assoc. Sports Department, 
                Member, Dept. Volleyball Team,
                Member, Cheering Squad.
            </li>
            </ul>
        </p>
        <span class="cd-date">2005 - 2009</span></div>
    </div>

    <!-- ======================= 資策會 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/iii.svg" alt="Institute for Information Industry" /></div>
      <div class="cd-timeline-content">
        <h2 class="story-heading">Institute for Information Industry</h2>
        <P class="position">Programming Training Course</P>
        <p>
          <ul>
            <li>
          Built apps with .NET(C#), webform, WCF, and SQL server, including creating a restaurant ordering system.
            </li>
          </ul>
        </p>
        <span class="cd-date">Apr 2010 - Oct 2010</span></div>
    </div>
  </section>
    <div class="cd-timeline-header">
    <h2></h2>
  </div>
</div>
