<div class="history">
  <div class="cd-timeline-header">
    <h2 id="Experenice">Experience</h2>
    <hr class="bar" />
  </div>
  <section id="cd-timeline" class="cd-container">

    <!-- ======================= 師大 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/college.svg" alt="National Taiwan Normal University" /></div>
      <div class="cd-timeline-content">
        <h2 class="story-heading">National Taiwan Normal University</h2>
        <P class="position">Bachelor's Degree in Education and English</P>
        <span class="cd-date">2005 - 2009</span></div>
    </div>

    <!-- ======================= 實習 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/internship.svg" alt="English Intern Teacher" /></div>
      <div class="cd-timeline-content">
        <h2 class="story-heading">Tian Mu Junior High School</h2>
        <P class="position">English Intern Teacher</P>
        <p>During the internship, I learned basic web developing skills (html, css) from a teacher who made website for the
          school, and I found it really interesting. After the internship, I decieded to change my career path to become
          a programmer.
        </p>
        <span class="cd-date">Aug 2009 - Feb 2010</span></div>
    </div>

    <!-- ======================= 資策會 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/iii.svg" alt="Institute for Information Industry" /></div>
      <div class="cd-timeline-content">
        <h2 class="story-heading">Institute for Information Industry</h2>
        <P class="position">Programming Training Course Completed</P>
        <p>In order to be prepared for entering information field, I decided to take courses at the most prestigious information
          institute in Taiwan - Institute for Information Industry - before seeking job. I learned how to develop applications
          by coding in C# on ASP.NET platform, and managing my data by connecting to SQL database server. In the end of the
          course, I made a restaurant order system called "Big Stomache King" with three of my classmates as our final project.</p>
        <span class="cd-date">Apr 2010 - Oct 2010</span></div>
    </div>

    <!-- ======================= 金財通 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/bulb.svg" alt="BankPro E-Service Technology" /></div>
      <div class="cd-timeline-content">
        <h2>BankPro E-Service Technology</h2>
        <p class="position">IT Assistant</p>
        <p>I was sent to Bank of Taiwan (which is the biggest local bank) to maintain the "Accounts Payable System". This is
          a B2B system which transacts huge amount of money everyday. My responsibilities were as follows: </br>
          <ul>
            <li><strong>Testing the system and writing testing reports.</strong></br>
              Testing taught me how a system flow in practical application is like, and I was more familiat with what mistakes users may
              take when using the system.</li>
            <li><strong>Modifying C# codes and SQL select statements.</strong></li>
          </ul>
        </p>
        <span class="cd-date">Oct 2010 - May 2012</span>
      </div>
    </div>

    <!-- ======================= 富嶸 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/designer.svg" alt="Fu Rong Magnet" /></div>
      <div class="cd-timeline-content">
        <h2>Fu Rong Magnet</h2>
        <p class="position">Designer</p>
        <p>Fu Rong is the leading magnet company in Taiwan, and I designed magnetic products,
           posters and exhibition decorations for the company.
        </p>
        <p><a class="view-btn" href="portfolio/fu-rong-magnet.html">View My Works</a></p>
        <span class="cd-date">Sep 2013 - Apr 2014</span></div>
    </div>

    <!-- ======================= Denise Ho Illustration ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/illustrator.svg" alt="Denise Ho Illustration" /></div>
      <div class="cd-timeline-content">
        <h2>Denise Ho Illustration</h2>
        <p class="position">Freelancer</p>
        <p>
          Sometimes I make illustrations/graphics for some firms and restaurants as a freelancer.
        </p>
        <p><a class="view-btn" href="portfolio/deniseho_illustration">View My Works</a></p>
        <span class="cd-date">2013 - Current</span></div>
    </div>

    <!-- ======================= 聯經數位 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/web-programming.svg" alt="udn Digital" /></div>
      <div class="cd-timeline-content">
        <h2>udn Digital</h2>
        <p class="position">Programmer</p>
        <p>
          udn Digital is a subsidiary company of United Daily News, which is one of the most influential 
          news corporations in Taiwan. My team developed systems for the corporation with ASP.NET MVC 
          framework.
        </p>
        <p><a class="view-btn" href="portfolio/udn-digital">More Project Details</a></p>        
        <span class="cd-date">May 2014 - Oct 2016</span></div>
    </div>

    <!-- ======================= 詮識數位 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location"><img src="../assets/img/omni_logo.svg" alt="Omninsight" /></div>
      <div class="cd-timeline-content">
        <h2>Omninsight</h2>
        <p class="position">Front-End Developer</p>
        <p>
          Omninsight, my current working place, is a startup company from Nov 2016 invested by United Daily News.
          We do digital marketing by analyzing data from facebook, and from database of United Daily News.
          My task is to fetch the data from AWS server, and build interative information charts with the data. 
          On the other hand, I also build official websites for companies.
        </p>
        <p><a class="view-btn" href="portfolio/omninsight">More Project Details</a></p>        
        <span class="cd-date">Nov 2016 - Current</span></div>
    </div>
  </section>
  <div class="cd-timeline-header">
    <h2></h2>
  </div>
</div>