<div class="history">
  <div class="cd-timeline-header">
    <h2 id="Experenice">Experience</h2>
    <hr class="bar" />
  </div>
  <section id="cd-timeline" class="cd-container">

    <!-- ======================= 師大 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/college.svg" alt="College" /></div>
      <div class="cd-timeline-content">
        <h2 class="story-heading">National Taiwan Normal University</h2>
        <P class="position">Bachelor's Degree - Major in Education / Minor in English</P>
        <span class="cd-date">2005 - 2009</span></div>
    </div>

    <!-- ======================= 實習 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/internship.svg" alt="College" /></div>
      <div class="cd-timeline-content">
        <h2 class="story-heading">Tian Mu Junior High School</h2>
        <P class="position">English Intern Teacher</P>
        <p>During the internship, I learned basic web developing skills (html, css) from a teacher who 
          made website for the school, and I found it really interesting. After the internship, 
          I decieded to change my career path to become a programmer.
        </p>
        <span class="cd-date">Aug 2009 - Feb 2010</span></div>
    </div>

    <!-- ======================= 資策會 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/iii.svg" alt="iii" /></div>
      <div class="cd-timeline-content">
        <h2 class="story-heading">Institute for Information Industry</h2>
        <P class="position">Programming Training Courses Completed</P>
        <p>In order to be prepared for entering information field, I decided to take courses at 
          Institute for Information Industry (the most prestigious information institute in Taiwan) 
          before seeking relevant job. <strong>I learned how to develop applications by coding in 
          C# on ASP.NET platform, and managing my data by connecting to SQL database server.
          </strong> In the end of the course, I made a restaurant order 
          system called "Big Stomache King" with three of my classmates as our final project.</p>
        <span class="cd-date">Apr 2010 - Oct 2010</span></div>
    </div>

    <!-- ======================= 金財通 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/idea14.svg" alt="College" /></div>
      <div class="cd-timeline-content">
        <h2>BankPro E-Service Technology</h2>
        <p class="position">IT Assistant</p>
        <p>I was sent to Bank of Taiwan (which is the biggest local bank) to maintain the "Accounts Payable System". 
          This is a B2B system which transacts huge amount of money everyday. My responsibilities were as follows: </br>
           <ul>
             <li><strong>Testing the system and writing testing reports.</strong></br>
               Testing taught me how a system flow in practical application is like, and I was more 
               familiat with what mistakes users may take when using the system.</li>
            <li><strong>Modifying C# codes and SQL select statements.</strong></li>
          </ul> 
        </p>
        <span class="cd-date">Oct 2010 - May 2012</span>
      </div>
    </div>

    <!-- ======================= 富嶸 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/designer.svg" alt="Location" /></div>
      <div class="cd-timeline-content">
        <h2>Fu Rong Magnet</h2>
        <p class="position">Designer</p>
        <p>Taking charge of designing magnetic products, exhibition decorations, and managing the Facebook fans page for the
          company.
        </p>
        <p><button class="view-btn"><a href="portfolio/fu-rong-magnet.html">View My Works</a></button></p>        
        <span class="cd-date">Sep 2013 - Apr 2014</span></div>
    </div>

    <!-- ======================= Denise Ho Illustration ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/illustrator.svg" alt="Location" /></div>
      <div class="cd-timeline-content">
        <h2>Denise Ho Illustration</h2>
        <p class="position">Designer / Illustrator</p>
        <p>
          I become a freelancer and make graphics and illustrations for some firms/restaurants. 
          On the other side, I had joined a few illustration exhibitions and published an illustration children book online.
        </p>
        <p><button class="view-btn">View My Works</button></p>
        <span class="cd-date">2013 - Current</span></div>
    </div>

    <!-- ======================= 聯經數位 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img"><img src="../assets/img/web-programming.svg" alt="Picture" /></div>
      <div class="cd-timeline-content">
        <h2>udn Digital</h2>
        <p class="position">Programmer</p>
        <p>All projects I involved were systems for the United Daily News, which is one of the biggest and the most influential
          news agencies in Taiwan.</br>
          <ul class="task-list">
            <li>
              <strong>NewsSmith project</strong></br>
              the news editing system: Testing the system and writing a tutorial webpage with html, css and javascript.
            </li>
            <li>
              <strong>UCD project</strong></br>
              the images/text searching engine: Writing BDD testing system with Selenium and Specflow.
            </li>
            <li>
              <strong>PMG project</strong></br>
              the production management system for printing department: Designing the UI and developing the front-end side for the system
              with html, css, JQuery and Knockout.js.
            </li>
          </ul>
        </p>
        <p><button class="view-btn">More Details</button></p>        
        <span class="cd-date">May 2014 - Oct 2016</span></div>
    </div>

    <!-- ======================= 詮識數位 ======================= -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location"><img src="../assets/img/omni_logo.svg" alt="Location" /></div>
      <div class="cd-timeline-content">
        <h2>Omninsight</h2>
        <p class="position">Front-End Developer</p>
        <p>
          <ul class="task-list">
            <li>
              <strong>ADMETRIX</strong></br>
              Making interactive information charts with D3.js and React.js.
            </li>
            <li>
              <strong>Official Websites for Companies</strong></br>
              <a href="http://omninsight.io" target="blank">Omninsight</a></br>
              <a href="">Far Glory Real Estate</a></br>
              <a href="">Grace Optical</a> (processing)
            </li>
          </ul>
          <span class="cd-date">Nov 2016 - Current</span></div>
    </div>
  </section>
  <div class="cd-timeline-header">
    <h2></h2>
  </div>
</div>
